<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <title> {{.Title}} </title>
    </head>
    <body>
        <div class="bg-image"></div>
        <div class="box">
            <p> 
                <span class = "h1"> small </span> <span class = "h2"> links </span> 
            </p>
            <form method="POST" action="postform">
                <input class="line" type="text" name="inputData">
                <br> <br>
                <input class ="button" type="submit" value="Compress">
            </form>
        </div>
    </body>
</html>